.table{
    border: 1px solid;
}
.tableContainer{
    display: flex;
    justify-content: center;
}
.cell{
    border: 1px solid;
}
.alignCenter{
    text-align: center;
}
.boldText{
    font-weight: bold;
}